{% extends 'core/base.html' %}

{% block tittle %}Contacto{% endblock  %}

{% block backgroung %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
    <h1>Contacto</h1>
    <span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Aquí varias formas de ponerse en contacto con el estudiante Daniel Palacios</p>
        <br>
        <p>Contacto</p>
        <p><b>&#9742; Teléfono:</b> +593 99 617 6943</p>
        <p><b>&#128231; Mail:</b> dpalacios2726@utm.edu.ec</p>
        <br>
        <p>Redes sociales</p>
        <p><b>Facebook:</b> /daniel.palacioscarrera</p>
        <p><b>Twitter:</b> /AKAChuo</p>
        <p><b>Instagram:</b> /daniel_pc10</p>


      </div>
    </div>
  </div>
{% endblock %}
